<form [formGroup]="form" class="max-w-xl mx-auto p-6 bg-white rounded-2xl shadow-md space-y-6">
  <!-- Input -->
  <mat-form-field class="w-full">
    <mat-label>Name</mat-label>
    <input matInput class="w-full" formControlName="name" />
    @if (form.controls['name'].invalid && form.controls['name'].touched) {
      <mat-error class="text-xs">Name is required</mat-error>
    }
  </mat-form-field>

  <!-- Input -->
  <mat-form-field class="w-full">
    <mat-label>Department</mat-label>
    <input matInput class="w-full" formControlName="department" />
    @if (form.controls['department'].invalid && form.controls['department'].touched) {
      <mat-error class="text-xs">Department is required</mat-error>
    }
  </mat-form-field>

  <!-- Datepicker -->
  <mat-form-field class="w-full">
    <mat-label>Starting date</mat-label>

    <input matInput [matDatepicker]="picker" class="w-full" formControlName="startDate" />
    @if (form.controls['startDate'].invalid && form.controls['startDate'].touched) {
      <mat-error class="text-xs">Starting date is required</mat-error>
    }

    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <!-- Checkbox -->
  <div class="flex items-center gap-3 px-1">
    <mat-checkbox class="text-gray-700" formControlName="status">Is User Active</mat-checkbox>
  </div>

  <!-- Buttons -->
  <div class="flex justify-end gap-3 pt-2">
    <button
      (click)="onCancel()"
      type="button"
      class="px-5 py-2 rounded-xl border border-gray-300 text-gray-700 hover:bg-gray-100 transition"
    >
      Cancel
    </button>

    <button
      (click)="onSubmit()"
      type="submit"
      class="px-5 py-2 rounded-xl bg-blue-600 text-white hover:bg-blue-700 transition"
    >
      Submit
    </button>
  </div>
</form>
