<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="max-w-xl mx-auto p-6 bg-white rounded-2xl shadow-md space-y-6"
>
  <app-form-input
    [label]="'Name'"
    [control]="form.controls['name']"
    [errorMessage]="'Name is required'"
  />

  <app-form-input
    [label]="'Email'"
    [control]="form.controls['email']"
    [errorMessage]="'Valid email is required'"
  />

  <app-form-select
    [label]="'Department'"
    [control]="form.controls['department']"
    [options]="departmentsSelectOptions"
    [errorMessage]="'Department is required'"
  />

  <app-form-input
    [label]="'Role'"
    [control]="form.controls['role']"
    [errorMessage]="'Role is required'"
  />

  <app-form-datepicker
    [label]="'Starting date'"
    [control]="form.controls['startDate']"
    [errorMessage]="'Starting date is required'"
  />

  <app-form-input
    [label]="'Salary'"
    type="number"
    [control]="form.controls['salary']"
    [errorMessage]="'Salary must be a valid monetary amount'"
  />

  <div class="flex items-center gap-3 px-1">
    <app-form-checkbox [title]="'Active'" [control]="form.controls['status']" />
  </div>

  <div class="flex justify-end gap-3 pt-2">
    <button type="button" appSecondaryButton (click)="onCancel()">Cancel</button>
    <button type="submit" appPrimaryButton [disabled]="form.invalid">Submit</button>
  </div>
</form>
