
  <main class="flex-1 flex items-center justify-center">
    <div class="text-center max-w-2xl px-6">

      <h2 class="text-4xl font-bold text-gray-800 mb-4">
        Welcome 👋
      </h2>

      <p class="text-gray-600 mb-8">
        Manage employees, departments, and company data in a simple and efficient way.
      </p>

      <div class="flex justify-center gap-4">
        <button appPrimaryButton routerLink="/employees">
          View Employees
        </button>
        <button appPrimaryButton routerLink="/departments">
          View Departments
        </button>
      </div>

    </div>
  </main>
<!-- </div> -->